@model Clinic.Models.AddPat
@using (Html.BeginForm("Patient", "Home", FormMethod.Post))
{
   
<body>
    <div class="topnav" style=" text-align:center">

        <img src="/images/clinic1.png" alt="logo" align="left" height="100" width="100" />&nbsp;


        <nav>
            <a class="active" asp-action="Home" asp-controller="Home" method="post">HOME</a>&nbsp;&nbsp;
            <a class="active" asp-action="AddDoctor" asp-controller="Home" method="post">ADD DOCTOR</a>&nbsp;&nbsp;
            <a class="active" asp-action="AddPatient" asp-controller="Home" method="post">ADD PATIENT</a>&nbsp;&nbsp;
            <a class="active" asp-action="ScheduleAppointment" asp-controller="Home" method="post">SCHEDULE APPOINTMENT</a>&nbsp;&nbsp;
            <a class="active" asp-action="CancelAppointment" asp-controller="Home" method="post">CANCEL APPOINTMENT</a>&nbsp;&nbsp;
            <a class="active" asp-action="Index" asp-controller="Home" method="post">LOGOUT</a><br /><br /><br />


        </nav>
    </div><br /><br /><br />
    <style>
        body {
            background-image: url("/images/Patient.jpg");
            background-size: cover;
        }
    </style><br /><br /><br />
    <center><b>ADD PATIENT</b></center>
    <table align="center">
        <tr>
            <td>FirstName:</td>
            <td>
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </td>
        </tr>
        <tr>
            <td>LastName:</td>
            <td>
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </td>
        </tr>
        <tr>
            <td>Sex:</td>
            <td>
                @Html.ValidationMessageFor(m => m.Sex)<br />
                <select name="Sex">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>

                </select>
            </td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>
                @Html.TextBoxFor(m => m.Age)
                @Html.ValidationMessageFor(m => m.Age)
            </td>

        </tr>
        <tr>
            <td>DateOfBirth(DD/MM/YYYY):</td>

            <td>
                @Html.TextBoxFor(m => m.DateOfBirth)
                @Html.ValidationMessageFor(m => m.DateOfBirth)
            </td>



        </tr>
    </table>
    <center><input type="submit" value="Save" /></center>
</body>
 }

